<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/users" method="POST">
        <div><label>UserId<input type = "number" name="userId" required= true  ></label><br></div>
        <div><label>Name<input type = "text" name="name" required= true ></label><br></div>
        <label>Course<input type = "text" name="course" required= true ></label><br>
        <label> want to subscribe?<input type="checkbox" class="check-box" name="sub"> </label><br>
         <input  type ="submit" >
    </form>  
</body>
</html>