<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/add-user">Add New User</a> </li>
                <li><a href="/users">Show All Users</a></li>
                <li><a href="/user">Get User Details</a></li>
            </ul>
        </nav>

    </header>

    <!-- <main>
        <h1>My Products</h1>
        <p>of all the products...</p>
    </main> -->
    
</body>
</html>