<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=  title %></title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Course</th>
                <th>Subscription</th>
            </tr>
            <% records.forEach(function(row){%>
                <tr>
                    <th><%= row.userid %></th>
                    <th><%= row.name %></th>
                    <th><%= row.course%></th>
                    <th><%= row.sub %> </th>

                </tr>

            <% }) %>
        </table>
    </div>
</body>
</html>